.image {
    padding: 15px;
    max-height: 340px;
    max-width: 20vw;
    min-width: 200px;
    min-height: 200px;
}

.artist {
    padding: 30px;
}

.center {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}