<main class="d-flex row">
    <h2 class="col-12 center">// releases //</h2>
    <div class="artist row">
        <img class="image col-4" src="/assets/redline.jpg">
        <span class="col-3">
            <h4>Tom Bartolomei</h4>
            <h5><i>Red Line (2019)</i></h5>
            HI-010<br><br>
            40 x CASS
        </span>
        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
    </div>
    <div class="artist row">
        <img class="image col-4" src="/assets/screamingplasticcd.jpg">
        <span class="col-3">
            <h4>Screaming Plastic</h4>
            <h5><i>Screaming Plastic (2019)</i></h5>
            HI-009<br><br>
            200 x CD
        </span>
        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
    </div>
    <div class="artist row">
        <img class="image col-4" src="/assets/fast.jpg">
        <span class="col-3">
            <h4>Hussies</h4>
            <h5><i>Fast (2019)</i></h5>
            HI-008<br><br>
            20 x CASS
        </span>
        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
    </div>
    <div class="artist row">
        <img class="image col-4" src="/assets/threeislands.jpg">
        <span class="col-3">
            <h4>Ben Eisenberger</h4>
            <h5><i>Three Islands (2018)</i></h5>
            HI-007<br><br>
            50 x CASS<br>
            150 x CASS<br>
            100 x CD
        </span>
        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
    </div>
    <div class="artist row">
        <img class="image col-4" src="/assets/fifinonotape.jpg">
        <span class="col-3">
            <h4>FiFi NoNo</h4>
            <h5><i>FiFi NoNo (2018)</i></h5>
            HI-006<br><br>
            50 x CASS
        </span>
        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
    </div>
    <div class="artist row">
            <img class="image col-4" src="/assets/nowhere.jpg">
            <span class="col-3">
                <h4>Hussies</h4>
                <h5><i>Nowhere (2017)</i></h5>
                HI-005<br><br>
                50 x CASS<br>
                25 x CASS
            </span>
            <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
                release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
        </div>
        <div class="artist row">
                <img class="image col-4" src="/assets/liveimprov2.jpg">
                <span class="col-3">
                    <h4>Screaming Plastic</h4>
                    <h5><i>Live Improvisations 2 (2017)</i></h5>
                    HI-004<br><br>
                    50 x CASS
                </span>
                <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
                    release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
            </div>
            <div class="artist row">
                    <img class="image col-4" src="/assets/songsfortheanxious.jpg">
                    <span class="col-3">
                        <h4>FiFi NoNo</h4>
                        <h5><i>Songs for the Anxious (2017)</i></h5>
                        HI-003<br><br>
                        30 x CASS
                    </span>
                    <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
                        release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
                </div>
                <div class="artist row">
                        <img class="image col-4" src="/assets/liveimprov.jpg">
                        <span class="col-3">
                            <h4>Screaming Plastic</h4>
                            <h5><i>Live Improvisations (2017)</i></h5>
                            HI-002<br><br>
                            25 x CASS<br>
                            50 x CASS
                        </span>
                        <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
                            release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
                    </div>
                    <div class="artist row">
                            <img class="image col-4" src="/assets/going.jpg">
                            <span class="col-3">
                                <h4>Hussies</h4>
                                <h5><i>Going (2016)</i></h5>
                                HI-001<br><br>
                                25 x CASS<br>
                                50 x CASS
                            </span>
                            <p class="col-5">A collection of songs spanning several years, this is Tom Bartolomei of Hussies' first solo
                                release. Recorded to tape by Stephen Bartolomei, who also has mixing credits as well as backing guitar.</p>
                        </div>
</main>