<main class="d-flex row this-one main">
  <a [routerLink]="['cart']" class="col-12 top"
    ><img class="icon" src="./assets/mycart.jpg" />{{
      cartService.cart ? "My Cart (" + this.cartService.cart.length + ")" : ""
    }}</a
  >
  <div
    *ngFor="let item of itemsForSale; let i = index"
    class="artist row main col-12"
  >
    <div class="col-lg-4 col-md-6">
      <img class="image" [src]="item.imageUrl" />
    </div>
    <div class="col-lg-3 col-md-6 small-center">
      <span>
        <h4>{{ item.artist }}</h4>
        <h5>
          <i>{{ item.album }}</i> ({{ item.year }})
        </h5>
        <p style="margin-bottom: 16px;">{{ item.catalog }}</p>
        <p
          *ngFor="let option of item.options"
          [class]="option.status === 'inactive' ? 'red' : ''"
          style="margin-bottom: 0;"
        >
          {{ option.type }}
        </p>
        <div style="margin-top: 16px;">
          <a [href]="item.spotifyUrl"
            ><img class="icon" src="./assets/spotify.png"
          /></a>
          <a [href]="item.applemusicUrl"
            ><img class="icon" src="./assets/applemusic.jpg"
          /></a>
          <a [href]="item.bandcampUrl"
            ><img class="icon" src="./assets/bandcamp.png"
          /></a>
          <a [href]="item.discogsUrl"
            ><img class="icon" src="./assets/discogs.jpg"
          /></a>
        </div>
      </span>
    </div>
    <div class="col-lg-5">
      <p style="padding-top: 10px;">{{ item.description }}</p>
      <div class="form-group">
        <label>Choose One:</label>
        <select class="form-control" [(ngModel)]="selectedItem[i]">
          <option
            *ngFor="let product of item.item"
            [ngValue]="product"
            [disabled]="product.status === 'inactive'"
            >{{ product.type }}
            <p>${{ product.price }}</p></option
          >
        </select>
      </div>
      <div style="text-align: right;">
        <button
          [disabled]="!selectedItem[i]"
          (click)="addToCart(item, selectedItem[i])"
          class="btn btn-primary btn-sm button"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</main>
