<main class="d-flex row">
    <h2 class="col-8 center">// store //</h2>
    <div class="col-2 top"><a href="">Login</a> /<br><a class="" href="">Register</a></div>
    <a [routerLink]="['cart']" class="col-2 top"><img class="icon" src="assets/mycart.jpg">Cart</a>
    <div *ngFor="let item of itemsForSale" class="artist row main">
        <img class="image col-md-4 col-6" [src]="item.imageUrl">
        <span class="col-md-3 col-6">
            <h4>{{item.artist}}</h4>
            <h5><i>{{item.album}}</i> ({{item.year}})</h5>
            {{item.catalog}}
            <p *ngFor="let option of item.options">{{option}}</p>
            <a [href]="item.spotifyUrl"><img class="icon" src="/assets/spotify.png"></a>
            <a [href]="item.applemusicUrl"><img class="icon" src="/assets/applemusic.jpg"></a>
            <a [href]="item.bandcampUrl"><img class="icon" src="/assets/bandcamp.png"></a>
            <a [href]="item.discogsUrl"><img class="icon" src="/assets/discogs.jpg"></a>
        </span>
        <div class="col-md-5 col-12">
            <p>{{item.description}}</p>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Choose one:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let item of item.item">{{item.type}} ($<p>{{item.price}}</p>)</option>
                </select>
            </div>
            <button (click)="addToCart(item)" class="btn btn-primary btn-sm button">Add to Cart</button>
        </div>
    </div>
</main>