.image {
    padding: 15px;
    max-height: 170px;
    max-width: 170px;
}

.artist {
    padding: 30px;
}

.center {
    padding-top: 30px;
    margin: 50px 0;
    padding-left: calc(50% - 100px);
}

.button {
    margin: 5px;
}

.icon {
    height: 25px;
    margin-right: 5px;
}

.top {
    margin-top: 90px;
}

.artist-stuff {
    background-color: #cbe5ff;
}

.main {
    margin: 0 10vw;
}