<div class="justify-content-center center">
    <main class="main row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image squat" src="./assets/hussies.jpg">
            <div class="overlay">
                <div class="text">Hussies</div>
            </div>       
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image squat" src="./assets/screamingplastic.jpg">
            <div class="overlay">
                <div class="text">Screaming Plastic</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image squat" src="./assets/fifinono.jpg">
                <div class="overlay">
                    <div class="text">FiFi NoNo</div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image tall" src="./assets/beneisenberger.jpg">
                <div class="overlay">
                    <div class="text">Ben Eisenberger</div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image squat" src="./assets/tombartolomei.jpg">
                <div class="overlay">
                    <div class="text">Tom Bartolomei</div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image tall" src="./assets/apologies.jpg">
                <div class="overlay">
                    <div class="text">apologies</div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 artist">
                <img class="image squat" src="./assets/bbsledge.jpg">
                <div class="overlay">
                    <div class="text">bb Sledge</div>
                </div>
        </div>

    </main>
</div>