<div class="justify-content-center center">
  <main class="main row justify-content-center">
    <div class="col-sm-12 col-md-5 artist">
      <img class="image" src="./assets/screamingplastic.jpg" />
      <div class="overlay">
        <div
          class="text"
          (click)="navigateToArtist('artists/screaming-plastic')"
        >
          Screaming Plastic
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/beneisenberger.jpg" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/ben-eisenberger')">
          Ben Eisenberger
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/hussies.jpg" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/hussies')">
          Hussies
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/tombartolomei.jpg" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/tom-bartolomei')">
          Tom Bartolomei
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/bbsledge.png" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/bb-sledge')">
          bb Sledge
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/fifinono.jpg" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/fifi-nono')">
          FiFi NoNo
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 artist">
      <img class="image tall" src="./assets/apologies.jpg" />
      <div class="overlay">
        <div class="text" (click)="navigateToArtist('artists/apologies')">
          apologies
        </div>
      </div>
    </div>
  </main>
</div>
