<h2 class="center"><img class="banner" src="./assets/logo-text.png"> // artists //</h2>

<main class="main row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
        <img class="image" src="./assets/hussies.jpg">
        <h4>Hussies</h4>
        <p>Long-standing Omaha rock band with a wide breadth of output spanning styles like hardcore punk and
            straight-up rock songwriter guitar jams. </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/screamingplastic.jpg">
        <h4>Screaming Plastic</h4>
        <p>Collective of Omaha and San Francisco-based improvisers, creating soundscapes ranging from the
            ambient-and-open to dissonant-and-overbearing. New album sponsored by a New Music USA project grant.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/fifinono.jpg">
        <h4>FiFi NoNo</h4>
        <p>Hardcore punk-meets-industrial metal, angular riffs, washed out vocals and an overall heavy aesthetic. Coming
            soon-to-be-back from the dead.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/beneisenberger.jpg">
        <h4>Ben Eisenberger</h4>
        <p>Melancholy and forelorn fingerpicking folk from the weird dude in the corner.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/tombartolomei.jpg">
        <h4>Tom Bartolomei</h4>
        <p>Country-tinged folk by the lead force behind Hussies. Explores love, loss and introspection with a bit of wit
            and appreciation of the beauty of nature.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/apologies.jpg">
        <h4>apologies</h4>
        <p>Blake Kostszewa's goth/new-wave project, new album out soon if he ever gets around to it.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 artist">
            <img class="image" src="./assets/bbsledge.jpg">
        <h4>bb Sledge</h4>
        <p>Solo-turned-duo project of Andy Cubrich and Ryan Menchaca. Refreshingly interesting indie songwriting with
            heavy backbeat and lyrics that will take you down a rabbit hole.</p>
    </div>
</main>