<h2 class="center">// about us //</h2>

<div class="row d-flex justify-content-center main">

    <img class="col-12 image" src="./assets/logo-text.png" /> <br>

    <p class="col-12">Health Inspector is a small label - or more accurately, a collective of musicians - from Omaha,
        Nebraska.
        Originally conceived as a mock-band name while he was in high school, guitarist Ben Eisenberger
        took up the moniker to release his and friends' music through a single outlet in 2013. Health Inspector's
        cassettes
        are all dubbed and assembled in Omaha, while CDs and (soon-to-be) vinyl is outsourced.
    </p>

</div>