<div class="row d-flex justify-content-center main">

    <img class="col-12 image" src="./assets/logo-text.png" /> <br>

    <p class="col-12">
        Health Inspector is a small record label in Omaha, Nebraska trying to put our small corner of the world out into the universe and our releases into as many ears and hands as possible. <br><br> 
    </p>

    <p class="col-12">
        Formed in 2013, mostly to release our own releases - we have put out and promoted a small stream of cassettes, CDs and digital releases, with our first vinyl release set for later in 2020.<br><br> 
    </p>

    <p class="col-12">
        Q: Do you accept demos?<br>
        A: Sure, why not? I'm just one person with a few friends. If you want to tag-team some funding and PR for an album release, if your stuff is great, I'd love to help. Email me at healthinspectorrecords@gmail.com<br><br> 
    </p>

    <ul>
        <li>HI-012  B.B. Sledge - Goddamn [Digital]</li>
        <li>HI-011  apologies - dreams/empathetic [Digital]</li>
        <li>HI-010  Tom Bartolomei - Red Line [Cass / Digital]</li>
        <li>HI-009  Screaming Plastic - s/t [CD / Digital]</li>
        <li>HI-008  Hussies - Fast [Cass]</li>
        <li>HI-007  Ben Eisenberger - Three Islands [CD / Cass / Digital]</li>
        <li>HI-006  FiFi NoNo - s/t [Cass / Digital]</li>
        <li>HI-005  Hussies - Nowhere [Cass / Digital]</li>
        <li>HI-004  Screaming Plastic - Live Improvisations 2 [Cass]</li>
        <li>HI-003  FiFi NoNo - Songs for the Anxious [Cass / Digital]</li>
        <li>HI-002  Screaming Plastic - Live Improvisations [Cass]</li>
        <li>HI-001  Hussies - Going [Cass / Digital]</li>
    </ul>

</div>