.main {
  margin-top: 30px;
  padding: 100px 150px;
}

.center {
  padding-top: 30px;
  margin: 50px 0;
  text-align: center;
}

.image {
  max-width: 600px;
}

@media (max-width: 500px) {
  .main {
    padding: 100px 20px;
  }
}
