<div class="the-top-bar">
  <div class="top-button-container">
    <a
      *ngIf="visible"
      href="javascript:void(0)"
      class="closebtn"
      (click)="closeNav()"
      >&times;</a
    >
  </div>
</div>
<div id="myNav" class="overlay">
  <div class="overlay-content">
    <a style="cursor: pointer;" routerLinkActive (click)="navigate('about')"
      >About</a
    >
    <a style="cursor: pointer;" routerLinkActive (click)="navigate('artists')"
      >Artists</a
    >
    <a style="cursor: pointer;" routerLinkActive (click)="navigate('store')"
      >Store</a
    >
  </div>
</div>
