<nav class="navbar fixed-top">
  <div class="container-fluid">
      <img class="nav center" src="assets/logo-image.jpg" height="40px" />
      <a class="nav-item active" [routerLink]="['/']">Artists</a>
      <a class="nav-item" [routerLink]="['about']">About</a>
      <a class="nav-item" [routerLink]="['store']">Store</a>
      <a class="nav-item" [routerLink]="['contact']">Contact</a>
      <img class="nav center" src="assets/logo-image.jpg" height="40px" />
  </div>
</nav>



<!-- <div class="nav nav-tabs nav-fill navbar-fixed-top">
  <div class="container">
<ul>
    <li class="nav-item">
        <img class="nav center" src="assets/logo-image.jpg" height="40px"/>
      </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']">Artists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['about']">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['store']">Store</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['contact']">Contact Us</a>
  </li>
  <li class="nav-item">
      <img class="nav center" src="assets/logo-image.jpg" height="40px"/>
    </li>
</ul>
</div>
</div> -->

<router-outlet></router-outlet>