<span class="open" *ngIf="!visible"><a (click)="openNav()">&#9776;</a> </span>
<span class="open">
  <a
    href="javascript:void(0)"
    *ngIf="visible"
    class="closebtn"
    (click)="closeNav()"
    >&times;</a
  >
</span>
<div class="the-top-bar">
  <div class="top-button-container" *ngIf="!visible">
    <img
      *ngIf="router.url.includes('artists/')"
      (click)="onBack('artists')"
      class="back-button"
      src="../assets/back.png"
    />
    <img
      *ngIf="router.url.includes('cart')"
      (click)="onBack('cart')"
      class="back-button"
      src="../assets/back.png"
    />
    <img
      *ngIf="router.url.includes('checkout')"
      (click)="onBack('checkout')"
      class="back-button"
      src="../assets/back.png"
    />
    <a
      class="upper-text"
      *ngIf="router.url === '/store' && cartSerivce.cart"
      routerLink="store/cart"
      ><img
        style="height: 20px; margin-right: 10px;"
        src="./assets/mycart.jpg"
      />{{
        cartSerivce.cart ? "My Cart (" + cartSerivce.cart.length + ")" : ""
      }}</a
    >
  </div>
</div>
<div class="container">
  <div id="myNav" class="overlay" *ngIf="visible">
    <div class="overlay-content">
      <a style="cursor: pointer;" routerLinkActive (click)="navigate('news')"
        >News</a
      >
      <a style="cursor: pointer;" routerLinkActive (click)="navigate('about')"
        >About</a
      >
      <a style="cursor: pointer;" routerLinkActive (click)="navigate('artists')"
        >Artists</a
      >
      <a style="cursor: pointer;" routerLinkActive (click)="navigate('store')"
        >Store</a
      >
    </div>
  </div>
  <router-outlet *ngIf="!visible"></router-outlet>
</div>
