<div class="container mt-5">
  <div class="row">
    <div>
      <img
        class="col-12 image"
        style="margin-top: 10px; max-height: 100%; object-fit: contain;"
        src="./assets/logo-text.png"
      />
    </div>
    <div class="col-12" *ngFor="let post of posts">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div
              class="card__background--main"
              [style.backgroundImage]="'url(' + post.image + ')'"
            >
              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head"></div>
        <div class="blog-card__info">
          <h5>{{ post.title }}</h5>
          <p style="margin-bottom: 50px;">
            {{ post.published.toDate() | date }}
          </p>
          <div [innerHTML]="post.content"></div>
        </div>
      </article>
    </div>
  </div>
</div>

<section class="detail-page">
  <div class="container mt-5"></div>
</section>

<!-- <div>
  <button (click)="newPost()">
    New Post
  </button>
  <app-new-post *ngIf="isNewPostModalVisible"></app-new-post>
</div> -->
